*                                                   @pattacini
/docs/icub_tendons/**                               @maurizbo
/docs/upgrade_kits/differential_neck_pulley/**      @salvi-mattia @marcoaccame
/docs/upgrade_kits/eyes/**                          @salvi-mattia @marcoaccame
/docs/upgrade_kits/hands/**                         @Elio75 @marcoaccame
/docs/upgrade_kits/torso_capacitors/**              @Elio75 @marcoaccame
/docs/icub_setup_multiple_robots/**                 @Yeshasvitvs
/docs/icub_wiring/**                                @maggia80
/docs/sw_installation/**                            @traversaro
/docs/icub_operating_systems/**                     @mbrunettini
