name: GitHub Pages

on:
  push:
    branches:
    - 'master'

jobs:
  docs:
    name: "Deploy"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-wheel python3-setuptools
          pip3 install --user mkdocs mkdocs-material pymdown-extensions
          echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
        
      - name: Configure Git
        run: |
          git config --global push.default upstream
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git

      - name: Build Mkdocs
        run: |
          mkdocs build

      - name: Create and prepare gh-pages anew
        run: |
          git checkout --orphan gh-pages
          rm -R `ls -A | grep -v -E "^(.git|site)$"`
          mv site/* ./

      - name: Commit and push
        run: |
          git add .
          git commit -m "publish site"
          git push --force --set-upstream origin gh-pages
