name: Test PR

on:
  pull_request:

jobs:
  docs:
    name: "Test"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main
      - name: Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-wheel python3-setuptools
          pip install --break-system-packages --user zensical
          echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
        
      - name: Build Zensical
        run: |
          zensical build --cleana --strict > log 2>&1

      - name: Print Log
        if: always()
        run: |
          cat log
